<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de Estacionamiento</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<!-- Hola qué tal, te recuerdo que la web es de uso libre -->
<!-- usala para lo que desees y no olvides suscribirte a AlexCG Design -->

<body>
    <header>
        <div class="textos">
            <h1 class="titulo">Registro de Estacionamiento</h1>
            <!--<h3 class="subtitulo">Desarrollo de sitios web</h3>-->
            <a href="login" class="boton">Iniciar Sesión</a>
        </div>
        
    </header>
    <main>
        <section class="acerca-de">
            
            <div class="contenedor">
                <h2 class="sobre-nosotros">Sobre nosotros</h2>
                <h3 class="slogan">Control de Estacionamiento</h3>
                <p class="parrafo">Somos una organización que controla el estacionamiento de autos en este Super Mercado y por ende nuestro trabajo 
                    es garantizar el control de entrada y salida de autos de este lugar comercial. 
                </p>
                <p class="parrafo">Brindamos todas las seguridad posibles para que usted no se preocupe mientras realiza sus actividades 
                    dentro del Super Mercado.
                </p>
                <a href="/registro" class="boton">Registro</a>
            </div>    
        </section>
      
     
    </main>
    <footer>
        <div class="contenedor">
            
            <h2 class="titulo-footer">Contactanos</h2>
            <h3 class="subtitulo-footer">Lo apreciariamos mucho</h3>
            <div class="footer">
                <form>
                    <input type="text" name="" id="" placeholder="Nombre">
                    <input type="email" name="" id="" placeholder="Correo">
                    <input type="text" name="" id="" placeholder="Teléfono">
                    <input type="text" name="" id="" placeholder="Encabezado de la Observación">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Observación"></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </footer>
</body>

</html>